_xmsgs/
temp/
work/
isim/
top_html/
*.xmsgs
*.xreport
*.sdb
*.html
.lso
*.stx
*.gise
*.xst
*.prj
*.exe
*.log
*.cmd
*.wdb

_ngo/
*.err
*.bld
*.chk
*.cmd_log
*.cxt
*.gyd
*.lso
*.mfd
*.nga
*.ngc
*.ngd
*.ngr
*.pad
*.pnx
*.rpt
*.syr
*.tim
*.tspec
*.vm6
*.xml
*.xrpt
*.csv
webtalk_*.xml
*.xbcd
*.lfp


# vim backup files
*.swp
*.tmp
*.bak
*~
