_xmsgs/
temp/
work/
isim/
prog-crnrii_xdb/
_pace.ucf
*.html
*.xmsgs
*.xreport
*.sdb
.lso
*.stx
*.gise
*.xst
*.prj
*.exe
*.log
*.cmd
*.wdb

_ngo/
*.err
*.bld
*.chk
*.cmd_log
*.cxt
*.gyd
*.lso
*.mfd
*.nga
*.ngc
*.ngd
*.ngr
*.pad
*.pnx
*.rpt
*.syr
*.tim
*.tspec
*.vm6
*.xml
*.xrpt
*.csv
webtalk_*.xml
*.xbcd
*.lfp

# Yes, exceptions in sub-folders are weird...
top_html/*
!top_html/fit/
top_html/fit/*
!top_html/fit/ascii.htm

impact.xsl
impact_impact.xwbt
iseconfig/

# vim backup files
*.swp
*.tmp
*.bak
*~
